<div class="auth-background">
  <div class="form-section__form-background">
  <form class="form-section">
    <div class="form-section__logo">
      <img src="/logo/logo-white.png" alt="Логотип" />
    </div>
    <a class="form-section__title"> Регистрация </a>
    <div class="form-section__error-signup" id="signup-error-email"></div>
    <input type="email" placeholder="Почта" name="email" />
    <div class="form-section__error-signup" id="signup-error-username"></div>
    <input type="text" placeholder="Логин" name="username" />
    <div class="form-section__error-signup" id="signup-error-password"></div>
    <input type="password" placeholder="Пароль" name="password" />
    <div class="form-section__error-signup" id="signup-error-passw-conf"></div>
    <input type="password" placeholder="Подтвердить пароль" name="passConf" />
    <input
      type="submit"
      class="form-section__submit-button"
      value="Зарегистрироваться!"
    />
  </form>
  </div>
</div>