<form class="form-section">

    <input type="email" placeholder="Почта" name="email">
    <input type="text" placeholder="Логин" name="username">
    <input type="password" placeholder="Пароль" name="password">
    <input type="password" placeholder="Подтвердить пароль" name="passConf">
    <input type="submit" class="submit-button" value="Зарегистрироваться!">

</form>
