<form class="form-section">
  <div class="form-section__error-signup" id="signup-errors"></div>
  <input type="email" placeholder="Почта" name="email" />
  <input type="text" placeholder="Логин" name="username" />
  <input type="password" placeholder="Пароль" name="password" />
  <input type="password" placeholder="Подтвердить пароль" name="passConf" />
  <input
    type="submit"
    class="form-section__submit-button"
    value="Зарегистрироваться!"
  />
</form>