<div class="add-comment-form__rating-block">
    Выберите рейтинг
    <div class="add-comment-form__rating-selector">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
    </div>
</div>
<textarea class='add-comment-form__textarea'>

</textarea>
<button class="accent-button">Оценить</button>