<div class="add-comment-form__top-section">
  <div class="add-comment-form__rating-block">
    Выберите рейтинг
    <div class="add-comment-form__rating-selector">
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
      <span class="star">&#9733;</span>
    </div>
  </div>
  <div class="film-content-block__genre" id="return-button">Назад</div>
</div>
<textarea class="add-comment-form__textarea"> </textarea>
<button class="accent-button" id="rate-button">Оценить</button>
