.menu {
    display: flex;
    align-items: flex-start;
    font-size: var(--main-text);
    align-self: center;
    padding: 8px;
    margin-top: 32px;
    background-color: var(--neutral-dark);
    border-radius: 16px;
}

.menu-item {
    white-space: nowrap;
    color: var(--grey-secondary);
    padding: 16px;
    display: block;
    text-decoration: none;
}

.menu-item:hover {
    color: var(--neon-secondary);
    padding: 16px;
}

.auth-item {
    white-space: nowrap;
    color: var(--grey-secondary);
    padding: 16px;
    display: block;
    text-decoration: none;
}

.active {
    color: var(--white);
    border: 1px solid var(--neon-main);
    border-radius: 8px;
    background-color: var(--hover-color);
}

.logo > img {
    margin-right: 32px;
    width: 328px;
}

.logo {
    margin-top: 32px;
}

.nav-icon > img {
    margin-left: 32px;
    margin-top: 32px;
    width: 25px;
}

.menu-container {
    width: 1266px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-auth-elements {
    display: flex;
    align-items: flex-start;
    font-size: var(--main-text);
    align-self: center;
    padding: 8px;
    margin-left: 16px;
    margin-top: 16px;
    background-color: var(--neutral-dark);
    border-radius: 16px;
}

.auth-elements {
    display: flex;
    align-items: flex-start;
    font-size: var(--main-text);
    align-self: center;
    padding: 8px;
    margin-left: 16px;
    margin-top: 16px;
}

.auth-item:hover {
    color: var(--neon-secondary);
    padding: 16px;
}

.avatar {
    object-fit: cover;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
}

.dropdown {
    position: relative;
    padding-top: 16px;
    padding-left: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--neutral-dark);
    min-width: 120px;
    padding: 10px;
    border-radius: 8px;
    right: -10px;
    top: 30px;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: var(--second-layer);
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 5;
}

.auth-menu {
    margin-left: 10px;
}

.icons {
    display: flex;
    margin-left: 64px;
    margin-top: 16px;
}

.menu-right {
    display: flex;
    flex-wrap: wrap;
}
