<div class="menu-container">
  <div class="menu-container__logo">
    <img src="/logo/logo.svg" alt="Логотип">
  </div>
  <div class="menu-container__menu">
    {{#each items}}
      <a class="{{this.className}}" href="{{this.href}}" data-section="{{this.key}}">{{this.text}}</a>
    {{/each}}
  </div>
  <div class="menu-container__menu-right">
    <div class="menu-container__icons">
      <div class="menu-container__nav-icon">
        <img src="/icons/search.svg" alt="Логотип">
      </div>
      <div class="menu-container__nav-icon">
        <img src="/icons/notifications.svg" alt="Логотип">
      </div>
      <div id="auth"></div>
    </div>
  </div>
</div>
