.menu-container {
  width: 1266px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu {
    display: flex;
    align-items: flex-start;
    font-size: var(--main-text);
    align-self: center;
    padding: 8px;
    margin-top: 32px;
    background-color: var(--neutral-dark);
    border-radius: 16px;
  }

  &__menu-item {
    white-space: nowrap;
    color: var(--grey-secondary);
    padding: 16px;
    display: block;
    text-decoration: none;

    &:hover {
      color: var(--neon-secondary);
      padding: 16px;
    }
  }

  &__logo {
    margin-top: 32px;

    & > img {
      margin-right: 32px;
      width: 360px;
    }
  }

  &__nav-icon {
    & > img {
      margin-left: 32px;
      margin-top: 32px;
      width: 32px;
    }
  }

  &__icons {
    display: flex;
    margin-left: 64px;
    margin-top: 16px;
  }

  &__menu-right {
    display: flex;
    flex-wrap: wrap;
  }
}

.auth-item {
  white-space: nowrap;
  color: var(--grey-secondary);
  padding: 16px;
  display: block;
  text-decoration: none;

  &:hover {
    color: var(--neon-secondary);
    padding: 16px;
  }
}

.active {
  color: var(--white);
  border: 1px solid var(--neon-main);
  border-radius: 8px;
  background-color: var(--hover-color);
}

.no-auth-elements {
  display: flex;
  align-items: flex-start;
  font-size: var(--main-text);
  align-self: center;
  padding: 8px;
  margin-left: 16px;
  margin-top: 16px;
  background-color: var(--neutral-dark);
  border-radius: 16px;
}

.auth-elements {
  display: flex;
  align-items: flex-start;
  font-size: var(--main-text);
  align-self: center;
  padding: 8px;
  margin-left: 16px;
  margin-top: 16px;
}

.avatar {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
}

.dropdown {
  position: relative;
  padding-top: 16px;
  padding-left: 8px;

  &:hover {
    .dropdown-content {
      display: block;
      opacity: 5;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--neutral-dark);
  min-width: 120px;
  padding: 10px;
  border-radius: 8px;
  right: -10px;
  top: 30px;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: var(--second-layer);
}

.auth-menu {
  margin-left: 10px;
}
