.menu {
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    align-self: center;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--aside-background);
    border-radius: 10px;
}

.menu-item {
    color: grey;
    padding: 10px;
}

.menu-item:hover {
    color: #ff80d7;
    padding: 10px;
}

.active {
    color: white;
    border: 1px solid var(--netfunner-color);
    border-radius: 10px;
    background-color: #1A1A1A;
}

a {
    display: block;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}