<form class="form-edit-section">
    <div class="error-signup" id="signup-errors"></div>

    <div class="file-input">
        <input type="file" id="file" class="input-file" />
        <label for="file" class="custom-file-upload">Выбрать файл</label>
    </div>

    <input type="text" placeholder="Логин" name="username">
    <input type="password" placeholder="Пароль" name="password">
    <input type="password" placeholder="Подтвердить пароль" name="passConf">
    <input type="submit" class="submit-button" value="Подтвердить">
</form>