<form id="myForm" method="post" action="#" enctype="multipart/form-data">
  <h1>Смена аватара</h1>
  <div class="edit-section">
    <div class="edit-form">
      <div class="edit-form__error" id="avatar-errors"></div>
      <input type="file" id="imageInput" accept="image/*" name="avatar" />
    </div>
    <button
      type="button"
      id="sendImageBtn"
      class="edit-form__button"
    >Сохранить</button>
  </div>
  <h1>Смена логина</h1>
  <div class="edit-section">
    <div class="edit-form">
      <div class="edit-form__error" id="username-errors"></div>
      <input
        type="text"
        id="loginInput"
        placeholder="Введите логин"
        name="username"
      />
    </div>
    <button
      type="button"
      id="sendLoginBtn"
      class="edit-form__button"
    >Сохранить</button>
  </div>
  <h1>Смена пароля</h1>
  <div class="edit-section">
    <div class="edit-form">
      <div class="edit-form__error" id="password-errors"></div>
      <input
        type="password"
        id="passwordInput"
        placeholder="Введите пароль"
        name="password"
      />
      <input
        type="password"
        id="confirmPasswordInput"
        placeholder="Подтвердите пароль"
        ,
        name="passConf"
      />
    </div>
    <button
      type="button"
      id="sendPasswordBtn"
      class="edit-form__button"
    >Сохранить</button>
  </div>
</form>
<button
  type="button"
  id="exit-editing-button"
  class="profile-info__buttons"
>Назад</button>