.profile-info {
  margin-top: clamp(16px, 5vw, 32px);
  display: flex;
  color: var(--white);

  &__photo {
    margin-right: clamp(16px, 5vw, 32px);

    img {
      margin-left: clamp(8px, 2vw, 32px);
      object-fit: cover;
      border-radius: 16px;
      width: clamp(132px, 41vw, 380px);
      height: clamp(174px, 54vw, 500px);
    }
  }

  &__details {
    margin-left: clamp(16px, 5vw, 32px);
    color: var(--white);
  }

  &__description {
    margin-top: 8px;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-top: 16px;
    }
  }

  &__top {
    margin-bottom: clamp(48px, 15vw, 96px);
    display: flex;
    align-items: center;
  }

  &__information {
    font-size: clamp(8px, 2vw, 16px);
  }

  &__nickname {
    font-size: clamp(16px, 5vw, 32px);
  }

  &__buttons {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--grey-main);
    border-radius: clamp(8px, 1vw, 16px);
    padding: clamp(10px, 3vw, 16px);
    display: block;
    margin-left: 8px;
    width: fit-content;
    height: fit-content;
    background-color: var(--hover-color);
    font-size: clamp(11px, 3vw, 18px);

    @media (hover: hover) {
      &:hover {
        color: var(--neon-secondary);
      }
    }

    @media (hover: none) {
      &:active {
        color: var(--neon-secondary);
      }
    }
  }
}

.edit-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;

  & > input {
    width: clamp(173px, 50vw, 500px);
  }
}

.edit-form {
  & > input {
    width: clamp(173px, 50vw, 500px);
  }

  &__button {
    background-color: var(--neon-main);
    border: none;
    border-radius: 8px;
    color: white;
    padding: clamp(8px, 2vw, 15px) clamp(16px, 4vw, 32px);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(8px, 3vw, 15px);
    margin-left: 16px;
    margin-bottom: auto;
    margin-top: 45px;
    cursor: pointer;
  }
}

#myForm {
  padding-left: clamp(10px, 3vw, 16px);
}

#imageInput {
  font-size: clamp(12px, 3vw, var(--main-text));

  &::-webkit-file-upload-button {
    cursor: pointer;
    height: clamp(34px, 6vw, 48px);
    padding: clamp(2px, 1vw, 15px) clamp(8px, 1vw, 32px);
    font-size: clamp(8px, 1vw, var(--main-text));
    border: none;
    margin-left: -16px;
    border-radius: clamp(8px, 1vw, 16px);
    color: var(--white);
    background: var(--neon-main);
    font-family: var(--input-font), serif;
  }
}

#exit-editing-button {
  margin: 8px;
  cursor: pointer;
}

.edit-form__error {
  color: var(--neon-main);
  font-size: var(--main-text);
  padding: 8px 12px 16px;
  overflow: hidden;
  height: var(--main-text);
}
