@import "../Films/films.css";

.profile-info {
    margin-top: 32px;
    display: flex;
    color: var(--white);
}

.profile-photo {
    margin-right: 32px;
}

.profile-photo img {
    margin-left: 32px;
    object-fit: cover;
    border-radius: 16px;
    width: 380px;
    height: 500px;
}

.profile-details {
    margin-left: 32px;
    color: var(--white);
}

.profile-description ul {
    list-style: none;
    padding: 0;
}

.profile-description li {
    margin-top: 16px;
}

.profile-description {
    margin-top: 8px;
}

.profile-top {
    margin-bottom: 96px;
    display: flex;
    align-items: center;
}

.profile-info + .films-section {
    padding-top: 64px;
}

.profile-page-buttons {
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--grey-main);
    border-radius: 16px;
    padding: 16px;
    display: block;
    margin-left: 8px;
    width: fit-content;
    height: fit-content;
    background-color: var(--hover-color);
    font-size: 18px;
}

.profile-page-buttons:hover {
    color: var(--neon-secondary);
    padding: 16px;
}

.edit-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.edit-form-button{
    background-color: var(--neon-main);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 16px;
    margin-bottom: auto;
    margin-top: 6px;
    cursor: pointer;
}

.edit-section > input {
    width: 600px;
}

.password-section > input {
    width: 600px;
}

#imageInput::-webkit-file-upload-button{
    cursor: pointer;
    height: 48px;
    padding: 8px 16px;
    border: none;
    margin-top: 6px;
    margin-left: -8px;
    border-radius: 16px;
    color: var(--white);
    background: var(--neon-main);
    font-family: var(--input-font);
}

#exit-editing-button{
    margin: 32px 32px auto auto;
    cursor: pointer;
}