<div class="search-input-block">
  <div class="search-input-block__dropdown-panel">
    <div class="search-input-block__findby-element">Что искать:</div>
  </div>
</div>
<div class="search-result-block"></div>
