.statistics-container {
  margin-top: 32px;
  color: var(--white);
  width: 900px;

  &__questions-list{

    list-style: none;
    border-top: 2px solid var(--border-color);
  }

  &__check-question{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    &:hover{
      background-color: var(--hover-color);
    }
  }

  &__progress-bar{
    height: 16px;
    width: 150px;
    background-color: var(--grey-secondary);
  }

  &__progress-bar-done{
    height: 16px;
    width: 0px;
    background-color: var(--neon-main);
  }
}