<ul class="series-block">
  <div class="series-block__seasons">
    {{#each buttons}}
      <button class="series-block__simple-button">
        {{this}}
      </button>
    {{/each}}
  </div>
  <div class="series-block__series-list">
  </div>
</ul>