@import "../Films/films";

.actor-info {
  margin-top: 32px;
  display: flex;
  align-items: center;
  color: var(--white);
}

.actor-info__photo {
  margin-right: 32px;

  img {
    margin-left: 32px;
    object-fit: cover;
    border-radius: 16px;
    width: 380px;
    height: 500px;
  }
}

.actor-info__details {
  margin-left: 32px;
}

.actor-info__description {
  margin-top: 8px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-top: 16px;
  }
}

.actor-info__name {
  margin-bottom: 96px;
}
