@import "../Films/films.css";

.actor-info {
    margin-top: 32px;
    display: flex;
    align-items: center;
    color: white;
}

.actor-photo {
    margin-right: 32px;
}

.actor-photo img {
    margin-left: 32px;
    object-fit: cover;
    border-radius: 16px;
    width: 380px;
    height: 500px;
}

.actor-details {
    margin-left: 32px;
}

.actor-description ul {
    list-style: none;
    padding: 0;
}

.actor-description li {
    margin-top: 16px;
}

.actor-description {
    margin-top: 8px;
}

.actor-name {
    margin-bottom: 96px;
}

.actor-info + .films-section {
    padding-top: 64px;
}