.actor-info {
  margin-top: 32px;
  display: flex;
  align-items: center;
  color: var(--white);

  &__photo {
    margin-right: 32px;

    img {
      margin-left: 32px;
      object-fit: cover;
      border-radius: 16px;
      width: 380px;
      height: 500px;
    }
  }

  &__details {
    margin-left: 32px;
  }

  &__description {
    margin-top: 8px;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-top: 16px;
    }
  }

  &__name {
    margin-bottom: 96px;
  }
}
