<div class="comment-element">
  <div class="comment-element__header">
    <h2>{{ author }}</h2>
    <div class="comment-element__rate">
      <p>{{ score }}</p>
      <span class="star active">&#9733;</span>
    </div>
  </div>
  <div class="comment-element__text">{{ text }}</div>
</div>
