input {
    height: 60px;
    font-size: var(--header-300);
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0 16px;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    color: var(--white);
    background: var(--grey-main);
    font-family: var(--input-font);
}

input:focus {
    outline: var(--white) solid thin;
}


.form-section {
    margin-top: 32px;
}


.submit-button {
    margin-top: 32px;
    background: none;
    outline: var(--neon-main) solid medium;
}

.submit-button:hover {
    color: var(--neon-secondary);
    background-color: var(--hover-color);
}

.error-login {
    color: red;
    font-size: var(--main-text);
    margin-top: 8px;
    padding: 8px;
}
.form-section {
    border: 2px solid var(--border-color);
    padding: 32px;
    border-radius: 16px;
    margin-top: 32px;
}
input + input {
    margin-top: 16px;
}