input {
  font-size: var(--main-text);
  display: block;
  padding: 0 16px;
  border-width: 0;
  line-height: 40px;
  border-radius: 16px;
  color: var(--white);
  background: var(--grey-main);
  font-family: var(--input-font), serif;
  &:focus {
    outline: var(--white) solid thin;
  }

  & + input {
    margin-top: 32px;
  }
}

.form-section {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--white);

  &__submit-button {
    margin: 64px auto 16px;
    background: var(--neon-main);
    width: -webkit-fill-available;

    @media (width <= 720px) {
      margin-top: 48px;
    }

    @media (width <= 500px) {
      margin-top: 32px;
    }

    @media (width <= 400px) {
      margin-top: 28px;
    }

    &:hover {
      background-color: var(--neon-secondary);
    }

    &:focus {
      outline: none;
    }
  }

  &__error-login {
    color: var(--neon-main);
    font-size: var(--main-text);
    padding: 6px 12px 12px;
    overflow: hidden;
    height: var(--main-text);

    @media (width <= 720px) {
      font-size: 12px;
    }

    @media (width <= 500px) {
      font-size: 12px;
    }

    @media (width <= 400px) {
      font-size: 12px;
    }
  }

  &__title {
    font-size: 24px;
    color: var(--white);
    margin-left: 12px;

    @media (width <= 720px) {
      font-size: 22px;
    }

    @media (width <= 500px) {
      font-size: 20px;
    }

    @media (width <= 400px) {
      font-size: 18px;
    }
  }

  &__logo {
    margin: 16px auto;
    width: auto;

    & > img {
      width: 100%;
    }
  }

  &__form-background {
    margin: 96px auto;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    min-width: 322px;
    max-width: 346px;
    color: var(--white);
    background: var(--neutral-main-with-opacity);
    backdrop-filter: blur(10px);

    @media (width <= 720px) {
      min-width: 200px;
      max-width: 300px;
    }

    @media (width <= 500px) {
      min-width: 150px;
      max-width: 250px;
    }

    @media (width <= 400px) {
      min-width: 100px;
      max-width: 200px;
    }
  }
}

.auth-background {
  background: url("img/background/background.png") rgba(255, 255, 255, 0.3)
    no-repeat;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  background-size: cover;
}
