<div class="auth-background">
  <div class="form-section__form-background">
  <form class="form-section">
    <div class="form-section__logo">
      <img src="/logo/logo-white.png" alt="Логотип" />
    </div>
    <a class="form-section__title"> Вход </a>
    <div class="form-section__error-login" id="login-errors"></div>
    <input type="email" name="email" placeholder="Почта" />
    <div class="form-section__error-login" id="login-errors-password"></div>
    <input type="password" name="password" placeholder="Пароль" />
    <input type="submit" class="form-section__submit-button" value="Войти!" />
  </form>
  </div>
</div>