<form class="form-section">
    <input type="email" name="email" placeholder="Почта">
    <input type="password" name="password" placeholder="Пароль">
    <input type="submit" class="submit-button" value="Войти!">
</form>
