<form class="form-section">
  <div class="form-section__error-login" id="login-errors"></div>
  <input type="email" name="email" placeholder="Почта">
  <input type="password" name="password" placeholder="Пароль">
  <input type="submit" class="form-section__submit-button" value="Войти!">
</form>
