.player-container {
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--black);
        width: 100vw;
    }
    &.fullscreen {
        max-width: 100vw;
        width: 100vh;
    }
    &.show-controls {
        .wrapper {
            bottom: 0;
            opacity: 1;
            pointer-events: auto;
            transition: all 0.25s ease;
        }
    }
}
.volume-range {
    cursor: pointer;
}
.video-timer, .video-controls, .options {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--first-layer);
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
    &::before {
        content: "";
        bottom: 0;
        width: 100vw;
        z-index: var(--minus-layer);
        height: calc(100vh + 32px);
        position: absolute;
        background: linear-gradient(to top, var(--neutral-dark), transparent);
    }
}
.no-cursor {
    cursor: none;
}
.video-timeline {
    height: 8px;
    width: 100vw;
    cursor: pointer;
    .progress-area {
        height: 4px;
        position: relative;
        background: var(--grey-secondary);
    }
}
.progress-area {
    span {
        position: absolute;
        left: 50%;
        color: var(--white);
        top: -32px;
        transform: translateX(-50%);
    }
    .progress-bar {
        width: 0;
        height: 100%;
        position: relative;
        background: var(--neon-main);
        &::before {
            content: "";
            right: 0;
            top: 50%;
            height: 16px;
            width: 16px;
            background: inherit;
            position: absolute;
            border-radius: 50%;
            transform: translateY(-50%);
        }
    }
}
.progress-area span, .progress-area .progress-bar::before {
    display: none;
}
.video-timeline:hover .progress-area span,
.video-timeline:hover .progress-area .progress-bar::before {
    display: block;
}
.video-controls {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px 16px;
    .options {
        width: 100vw;
        &:last-child {
            justify-content: flex-end;
        }
        &:first-child {
            justify-content: flex-start;
        }
    }
}
.options {
    button {
        width: 48px;
        height: 48px;
        border: none;
        color: var(--white);
        cursor: pointer;
        background: none;
    }
    input {
        margin: 0 0 0 8px;
        padding: 0;
        height: 4px;
        max-width: 96px;
    }
    .video-timer {
        color: var(--white);
        margin-left: 16px;
    }
}
.play-pause {
    margin-left: 16px;
    margin-right: 16px;
}
.pic-in-pic {
    margin-left: 16px;
    margin-right: 16px;
}
.options button:where(img, span) {
    width: 100vw;
    height: 100vh;
    line-height: 48px;
}
.video-timer {
    .separator {
        margin: 0 4px;
        font-family: "Open Sans", sans-serif;
    }
}
.playback-content {
    position: relative;
    .speed-options {
        position: absolute;
        bottom: 40px;
        left: -40px;
        width: 95px;
        opacity: 0;
        pointer-events: none;
        list-style: none;
        color: var(--white);
        background: var(--neutral-light);
        border-radius: 4px;
        transition: opacity 0.13s ease;
        &.show {
            opacity: 1;
            pointer-events: auto;
        }
    }
}
.speed-options {
    padding-left: 0;
    li {
        cursor: pointer;
        font-size: 16px;
        padding: 4px 0 5px 16px;
    }
}
.backward {
    transform: rotate(180deg);
}
input[type="range"] {
    accent-color: var(--neon-main);
}
#exit-player {
    margin: 32px 16px auto auto;
    z-index: var(--third-layer);
    position: absolute;
    top: 0;
    right: 0;
}
