@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Monoton&display=swap');
@import "components/Menu/Menu.css";
@import "components/Films/films.css";
@import "components/Login/auth.css";
@import "components/Signup/signup.css";
@import "components/Actor/actor.css";
@import "components/Film/film.css";
@import "components/Player/player.css";
@import "components/Profile/Profile.css";

:root {
  --black: #000000;
  --neon-main: #ff06b5;
  --neon-secondary: #ff80d7;
  --neutral-dark: #0f0f0f;
  --neutral-main: #141414;
  --shadow-color: #0000004C;
  --hover-color: #1A1A1A;
  --neutral-light: #212121;
  --border-color: #262626;
  --grey-main: #FFFFFF33;
  --grey-secondary: #999999;
  --white: #FFFFFF;
  --input-font: 'Roboto', sans-serif;
  --main-font: Manrope, solid;
  --caption: 12px;
  --main-text: 15px;
  --header-300: 30px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: var(--main-font);
  background-color: var(--neutral-main);
  margin: 0;
  padding: 0;
}

main {
  margin-top: 16px;
}