@import "components/Menu/Menu.css";

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  --netfunner-color: #ff06b5;
  --background-color: #141414;
  --card-background: #212121;
  --aside-background: #0F0F0F;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

aside {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--aside-background);
  border-radius: 10px;
}

main {
  padding: 0 40px 40px;
}

input {
  height: 60px;
  font-size: 40px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0 15px;
  border-width: 0;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  background: rgba(255, 255, 255, .2);
  font-family: 'Roboto', sans-serif;
}

input:focus{
  outline-color: white;
  outline-style: solid;
  outline-width: thin;
}

.submit-button{
  margin-top: 30px;
  background: none;
  outline: var(--netfunner-color) solid medium;
}

.submit-button:hover{
  color: #ff80d7;
  background-color: #1A1A1A;
}


.popular-now-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 50px;
  color: rgba(255, 255, 255, 0.9);
  text-align: left;
  width: 100%;
}

.films-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.film-card:hover {
  transform: scale(1.05);
}

.film-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
  padding-left: 15px;
}

.film-card {
  width: 230px;
  height: 360px;
  margin: 16px;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background: var(--card-background) center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film-image {
  width: auto;
  height: 85%;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  margin-top: 15px;
}

.film-time {
  font-size: 12px;
  width: 20%;
  background-color: var(--background-color);
  color: #999999;
  padding: 7px;
  border-radius: 15px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.film-title {
  color: #ffffff;
  margin-right: 10px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.films-section {
  border: 2px solid #262626;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

